/*Search bar container*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: blue;
}

.search-container-md{
 width: 410px;
 margin: 50px auto;
 padding: 10px;
}

.list-container-fluid {
    margin: 0 9rem;
    background-color: white;
    height: 45vh;
    margin: 50px auto;
    border-radius: 2px;
}

.input-group mb-3 {
        padding: 2rem 0 2rem 0;
        text-align: center;
        justify-content: center;
        background: white;
}

/* added color to 5-day header*/
.row h3 {
    color: white;
}